$navbarBrandFontSize: 35px;
$navbarMenuItemFontSize: 20px;
$navbarMenuItemPadding: 5px;

// Red Theme
/*$themeBgColor: #FFF;
$themeColor: #cc0000;
$themeBorderColor: #cc0000;
$themeHoverBgColor: #ffe6e6;
$themeHoverColor: #000;*/

// Blue Theme
$themeBgColor: #FFF;
$themeColor: #0033cc;
$themeBorderColor: #0033cc;
$themeHoverBgColor: #e6ecff;
$themeHoverColor: #000;